/* �� NAV BUTTONS ��������������������������������������������������������������� */
.nav-btn {
  display: none
}

.prev-btn {
  left: calc(50% - 420px);
  border-width: 25px 30px 25px 0;
  border-color: transparent var(--elevated-color) transparent transparent;
}

.next-btn {
  right: calc(50% - 420px);
  border-width: 25px 0 25px 30px;
  border-color: transparent transparent transparent var(--elevated-color);
}

.nav-btn:hover {
  filter: brightness(1.15);
}
